.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
.link {
    cursor: pointer;
    color:white;
    text-decoration: none;
}
